@import "tailwindcss";

/* Courses */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: repeat(1,1fr);
  }
}
.cyber-border {
  position: relative;
  overflow: hidden;
}

.cyber-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #00e6b8;
  box-shadow: 0 0 10px #00e6b8;
  animation: scan 3s linear infinite;
}

@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

